
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

:root {
  --color: rgb(63 63 63);
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url(https://media.architecturaldigest.com/photos/62a788821c1c252c9ea60ad4/16:9/w_2560%2Cc_limit/plumbing%2520tips.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 1rem 0;
  background-image: url(https://media.architecturaldigest.com/photos/62a788821c1c252c9ea60ad4/16:9/w_2560%2Cc_limit/plumbing%2520tips.jpg);
  gap: 1.6em;
}

h1 {
 display: inline-block;
  padding: 0.2em 2em;
  border-radius: 3em;
  background-color: var(--color);
  color: white;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

p2 {
    display: inline-block;
  padding: 1em 3em;
  border-radius: 3em;
  background-color: var(--color);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  max-width: 52ch;
  padding: 1em;
  line-height: 1.5;
}

a {
  display: inline-block;
  padding: 1em 3.5em;
  border-radius: 0.3em;
  background-color: var(--color);
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

h3 {
  margin-top: 1em;
  font-size: 1.6rem;
  font-weight: 700;
}

.card {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;
  border-radius: 0.5em;

  background-color: white;
  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}

.card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.3em;
  background-position: center;
  background-size: cover;
}

.card:nth-of-type(1) .card-img {
  background-image: url(https://images.stockcake.com/public/7/2/3/723ad7dd-fcf1-4da1-b609-fcd41eca012f_large/friendly-plumber-smiling-stockcake.jpg);
}

.card:nth-of-type(2) .card-img {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi2ZSqHss99U_8FOWXYVy8I7hGYxCUuOIojQ&s);
}

.card:nth-of-type(3) .card-img {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE3rNwiFbQqPomkdEMTZI6bVdNXie3GR8d5g&s);
}

.card:nth-of-type(4) .card-img {
  background-image: url(https://images.unsplash.com/photo-1496429862132-5ab36b6ae330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80);
}

/* Style the navbar */
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

label {
    color: aliceblue
}

span {
    color:aliceblue
}